In [50]:
#list to take multipul input in single line
list_input = [int(i) for i in input().split(' ')]
print(list_input)

2 12 54 63 4
[2, 12, 54, 63, 4]

In [51]:
list_input.append(10)
list_input

[2, 12, 54, 63, 4, 10]

In [52]:
new_list = list_input.copy()  
new_list

[2, 12, 54, 63, 4, 10]

In [53]:
#it is used to count elements in a single list or characters in a string  
list_input.count(10)
list_input

[2, 12, 54, 63, 4, 10]

In [54]:
new_list.extend(list_input)
new_list

[2, 12, 54, 63, 4, 10, 2, 12, 54, 63, 4, 10]

In [55]:
#will return the value index from the list
print(list_input.index(54))

2

In [56]:
#list_input.insert(position, element)
list_input.insert(2, 91)
list_input

[2, 12, 91, 54, 63, 4, 10]

In [57]:
#will remove the element from particular position(it will take only index as a parameter)
list_input.pop(2)
list_input

[2, 12, 54, 63, 4, 10]

In [58]:
#if pop parameter is empty it will remove the last element
list_input.pop()
list_input

[2, 12, 54, 63, 4]

In [59]:
#remove will take parameter but the parameter should present should be element in the list
list_input.remove(63)
list_input

[2, 12, 54, 4]

In [63]:
#reversin the list
list_input.reverse()
list_input

[4, 54, 12, 2]

In [64]:
list_input.sort()
list_input

[2, 4, 12, 54]

# accesing the inputes in different forms

In [69]:
# taking multiple inputes in single line seperated with space but only integers cos (int())
list_input = [int(i) for i in input().split(' ')]
list_input

21 23 5 4 1

[21, 23, 5, 4, 1]

In [68]:
## taking multiple inputes in single line seperated with space but every element is considered as string
list_input = [i for i in input().split(' ')]
list_input

yash wanth telu kuntla

['yash', 'wanth', 'telu', 'kuntla']

In [82]:
#input is takes as strings but its contains integers so converting base 10 strings to integers
a = ['yash', '1', '3', 'yes', 'no', '3']
new = []
for i in a:
    if i.isnumeric()== True:
        new.append(int(i))
    else:
        new.append(i)
print(a)
print(new)

['yash', '1', '3', 'yes', 'no', '3']
['yash', 1, 3, 'yes', 'no', 3]

Given a list, write a Python program to swap first and last element of the list.

Examples:

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [87]:
list_input = [int(i) for i in input().split(' ')]

#removing last elament and taking into a valriable
last_ele = list_input.pop()

#removing first elament and taking into a valriable
frist_ele = list_input.pop(0)

#inserting last element to first position
list_input.insert(0, last_ele)

#inserting first element to last position
list_input.append(frist_ele)

list_input

12 35 9 56 24

[24, 35, 9, 56, 12]

 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings. \
Sample List : ['abc', 'xyz', 'aba', '1221']\
Expected Result : 2

In [98]:
input_list = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in input_list:
    if len(i) >= 2:
        if i[0] == i[-1]:
            count += 1
print(count)

2

Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Go to the editor \
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] \
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [116]:
Sample_List = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
new = [(0,0)]
a = True
while a:
    for i in Sample_List:
        for k,j in enumerate(new):
            if i[-1] <= j[-1]:
                new.insert(k, i)
                break
        else:
            new.append(i)
    break
new.pop(0)
new

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

 Write a Python program to create a list by concatenating a given list which range goes from 1 to n. Go to the editor \
Sample list : ['p', 'q'] \
n =5 \
Sample Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [120]:
Sample_List = ['p', 'q']
n = 5
new = []
for i in range(1,n+1):
    for j in Sample_List:
        new.append(str(j)+str(i))
new

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Write a Python program to change the position of every n-th value with the (n+1)th in a list. \
Sample list: [0,1,2,3,4,5] \
Expected Output: [1, 0, 3, 2, 5, 4]

In [121]:
new = []
Sample_list= [0,1,2,3,4,5]
for i, j in enumerate(Sample_list):
    if i%2 != 0:
        pass
    else:
        new.append(Sample_list[i+1])
        new.append(Sample_list[i])
new

[1, 0, 3, 2, 5, 4]

Write a Python program to convert a list of multiple integers into a single integer. \
Sample list: [11, 33, 50] \
Expected Output: 113350

In [136]:
Sample_List= [11, 33, 50]
Sample_List = [str(j) for j in Sample_List]
new = str()
for i in Sample_List:
    new += i
new = int(new)
new

113350

In [138]:
a = 10
int(a, 17)

TypeError: int() can't convert non-string with explicit base

Reverse a String.
Reverse a Number.
Palindrome.
Prime Number.
Leap Year.
Greatest among 10 numbers.
Fibonacci Series.
HCF / GCD.
Factorial.
Decimal to Binary & vice versa
Armstrong Number.
Area.
Swap 2 numbers.
Concatenate 2 strings.
LCM of Two Number using CLP.
Average of Two Numbers.
Sum of Digits of a number.
Square Root of Prime Number.
Square Root without square root.
Odd-Even Number.
Binary to Octal.
Decimal to Octal.
Area of Circle.
Area of Triangle.

In [5]:
#Reverse a String using for loop
a = "Hello I am Yashwanth"
temp = str()
for i in a:
        temp = i + temp
        
temp

'htnawhsaY ma I olleH'

In [8]:
#Reverse a Number.
a = 10000546
a = str(a)
temp = str()
for i in a:
    temp = i + temp
int(temp)

64500001

In [10]:
#Palindrome.
a = "Yaswhanth"
a = a.lower()
temp = str()
for i in a:
    temp = i + temp
if temp == a:
    print("Palendrome")
else:
    print("no a palendrome")

no a palendrome

In [26]:
#Prime Number

for i in range(2, 100):
    for j in range(2, i):
        if i % j == 0 :
            break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [46]:
#Leap Year
a = 1700
if a % 4 == 0:
    if a % 100 == 0 : #for century year calculation
        if a % 400 == 0:
            print("leap year")
        else:
            print("Not leap year")
    else:
        print("leap year")
else:
    print("Not leap year")

Not leap year

In [49]:
#Greatest among 10 numbers.
a = [2,20,25,91,71,6,60,9]
j = 0
for i in a:
    if j < i:
        j = i
        
print(j)

91

In [56]:
#Fibonacci Series
a, b = 0, 1
c = 0
n = 20
print(a,b, end=" ")
for i in range(3, n):
    c = a + b
    a = b 
    b = c
    print(c, end=" ")

enter a number to find a fibonacci:20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584

In [71]:
#HCF/GCD
def hcf(a, b):
    value = int()
    if a > b:
        pass
    else:
        a, b = b, a
    for i in range(1,a):
        if a % i == 0:
            if b % i == 0:
                value = i
                
    return value
z = hcf(12, 30)   
z

6

In [77]:
#Factorial
n = 4
value = 1
test = "1"
for i in range(2,n+1):
    value *= i
    test =str(i) + "*" + str(test) 
print(value, test)

24 4*3*2*1

In [80]:
#Armstrong Number
a = 153
a = str(a)
value = 0
for i in a:
    value += int(i)**3
if int(a) == value:
    print("It is a Amstrong no.")
else:
    print("It is not a Amstrong no.")

It is a Amstrong no.

In [90]:
#square root
a = 27
sol = a **(1/2)
sol

3.0

In [84]:
#string concatination
a = "hello "
b = "world"
c = a+ b
c

'hello world'

In [104]:
# LCM of two numbers
a = 22
b = 10
if a > b:
    maximum = a
else:
    maximum = b
while True:
    if maximum % a == 0 and  maximum % b == 0:
        break
    else:
        maximum += 1
maximum

110

In [105]:
a = [[1,2,3],[4,5,6],[7,8,9]]
value = 0
for i in a:
    for j in i:
        value += j
    print(value)
    value = 0

6
15
24

In [129]:
# decimal to binary
a = 10 
lit = []
c = 0
while True:
    c = a % 2 
    a = a//2
    print(a)
    lit.append(c)

    if a == 0:
        break
lit.reverse()
lit

5
2
1
0

[1, 0, 1, 0]

In [134]:
def con(a):
    return int(a, 2)
if __name__ == "__main__":
    print(con("100"))

4

In [138]:
#binary to decimal
a = [0,1,0,1]
a.reverse()
value = 0
for i,j in enumerate(a):
    value += j * a[i] * (2**i)
value

5